<h3>Prehistoric Creatures</h3>

<ul>
<% prehistorics.forEach(prehistoric=>{ %>
    <li>
        <p><strong><%= prehistoric.type %> </strong><img src=<%= prehistoric.img_url %>></p>
    </li>

<% }) %>

</ul>