<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="/css/style.css">
        <title>New</title>
    </head>
    <body>
        <nav>
            <a href="/">Home</a>
            <a href="/dinos">Dinosaurs</a>
            <a href="/dinos/new">Add a Dino</a>
            <a href="/prehistoric">Prehistoric Creatures</a>
            <a href="/prehistoric/new">Add Prehistoric Creatures</a>
        </nav>
        <%- body %>
    </body>
</html>